{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}
    Item Creates | {{block.super}}
{% endblock %}
{% block extra_stylesheet %}

{% endblock %}
{% block breadcrumbLink %}
    {% if request.user.is_authenticated %}
        <li class="breadcrumb-item"><a href="{% url 'items:list' item.category.pk %}">
            Items
        </a></li> {% endif %}
    <li class="breadcrumb-item active">New</li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="table-responsive">
        <div class="card ">
            <div class="card-body">
                {% if form.non_field_errors %}
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-danger">
                                <ul>
                                    {% for error in form.non_field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    {% if formset.non_form_errors %}
                                    <div class="alert alert-danger">
                                        <ul>
                                            {% for error in formset.non_form_errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row ">
                    <div class="col-lg-10 col-md-12 col-sm-12 col-12">
                        <form name='item-form' id='item-form' method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            <div class=" form-group row">
                                <span class="col-lg-4 col-md-2 col-sm-2 col-1"><span
                                        class=" float-lg-right float-md-right float-sm-right float-right"> </span></span>

                                {% if form.name.errors %}
                                    <div class="col-lg-4 col-md-2 col-sm-2 col-4 col-1">
                                        {{ form.name | add_class:"is-invalid" }}
                                        <div class="invalid-feedback">
                                            {{ form.name.errors }}
                                        </div>
                                    </div>
                                {% else %}

                                    <div class="col-lg-6 col-md-8 col-sm-8 col-12">
                                        {{ form.name }}
                                        <label for="" class="">Item Name <span
                                            class="text-danger">*</span></label>
                                    </div>
                                {% endif %}
                            </div>

                            
                            <div class=" form-group row">
                                    <span class="col-lg-4 col-md-2 col-sm-2 col-1"><span
                                            class=" float-lg-right float-md-right float-sm-right float-right"> </span></span>
    
                                    {% if form.description.errors %}
                                        <div class="col-lg-4 col-md-2 col-sm-2 col-4">
                                            {{ form.address | add_class:"is-invalid" }}
                                            <div class="invalid-feedback">
                                                {{ form.description.errors }}
                                            </div>
                                        </div>
                                    {% else %}
    
                                        <div class="col-lg-6 col-md-8 col-sm-8 col-12">
                                            {{ form.description }}
                                            <label for="" class="">{{form.description.label}} <span
                                                class="text-danger">*</span></label>
                                        </div>
                                    {% endif %}
                                </div>
                        <div class=" form-group row">
                                    <span class="col-lg-4 col-md-2 col-sm-2 col-1"><span
                                            class=" float-lg-right float-md-right float-sm-right float-right"> </span></span>

                                    {% if form.specification.errors %}
                                        <div class="col-lg-4 col-md-2 col-sm-2 col-4">
                                            {{ form.specification | add_class:"is-invalid" }}
                                            <div class="invalid-feedback">
                                                {{ form.specification.errors }}
                                            </div>
                                        </div>
                                    {% else %}

                                        <div class="col-lg-6 col-md-8 col-sm-8 col-12">
                                            {{ form.specification }}
                                            <label for="" class="">{{form.specification.label}} <span
                                                class="text-danger">*</span></label>
                                        </div>
                                    {% endif %}
                                </div>

                                    <div class=" form-group row">
                                        <span class="col-lg-4 col-md-2 col-sm-2 col-1"><span
                                                class=" float-lg-right float-md-right float-sm-right float-right"> </span></span>
        
                                        {% if stock_form.price_excl_tax.errors %}
                                            <div class="col-lg-4 col-md-2 col-sm-2 col-4">
                                                {{ stock_form.price_excl_tax | add_class:"is-invalid" }}
                                                <div class="invalid-feedback">
                                                    {{ stock_form.price_excl_tax.errors }}
                                                </div>
                                            </div>
                                        {% else %}
        
                                            <div class="col-lg-6 col-md-8 col-sm-8 col-12">
                                                {{ stock_form.price_excl_tax }}
                                                <label for="" class="">{{stock_form.price_excl_tax.label}} <span
                                                    class="text-danger">*</span></label>
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class=" form-group row">
                                        <span class="col-lg-4 col-md-2 col-sm-2 col-1"><span
                                                class=" float-lg-right float-md-right float-sm-right float-right"> </span></span>
        
                                        {% if stock_form.discount_percentage.errors %}
                                            <div class="col-lg-4 col-md-2 col-sm-2 col-4">
                                                {{ stock_form.discount_percentage | add_class:"is-invalid" }}
                                                <div class="invalid-feedback">
                                                    {{ stock_form.discount_percentage.errors }}
                                                </div>
                                            </div>
                                        {% else %}
        
                                            <div class="col-lg-6 col-md-8 col-sm-8 col-12">
                                                {{ stock_form.discount_percentage }}
                                                <label for="" class="">{{stock_form.discount_percentage.label}} <span
                                                    class="text-danger">*</span></label>
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class=" form-group row">
                                        <span class="col-lg-4 col-md-2 col-sm-2 col-1"><span
                                                class=" float-lg-right float-md-right float-sm-right float-right"> </span></span>
        
                                        {% if stock_form.quantity.errors %}
                                            <div class="col-lg-4 col-md-2 col-sm-2 col-4">
                                                {{ stock_form.quantity | add_class:"is-invalid" }}
                                                <div class="invalid-feedback">
                                                    {{ stock_form.quantity.errors }}
                                                </div>
                                            </div>
                                        {% else %}
        
                                            <div class="col-lg-6 col-md-8 col-sm-8 col-12">
                                                {{ stock_form.quantity }}
                                                <label for="" class="">{{stock_form.quantity.label}} <span
                                                    class="text-danger">*</span></label>
                                            </div>
                                        {% endif %}
                                    </div>

                            {{ formset.management_form }}

                            {% for image in images %} 
                            {% if image.document %}
                                    <div class="row ">
                                            
                                            <div class=" offset-lg-4 col-lg-6 col-md-8 col-sm-8 col-12">
                                                    <img src="{{image.document.url }}" alt="" class="img-fluid">
                                                    
                                            </div>
                                            <a href="{% url 'items:image_remove'  image.pk%}" class="float-right"> <i class="fa fa-remove text-danger"></i></a>
                                    
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                   
                                     
                                    
                             
                                    {% for item_form in formset %}

                                    <div class=" form-group row " id='document'>
                                            <span class="col-lg-4 col-md-2 col-sm-2 col-1"><span
                                                    class=" float-lg-right float-md-right float-sm-right float-right"> </span></span>

                                            {% if item_form.document.errors %}
                                                <div class="col-lg-4 col-md-2 col-sm-2 col-4">
                                                    {{ item_form.document | add_class:"is-invalid" }}
                                                    <div class="invalid-feedback">
                                                        {{ item_form.document.errors }}
                                                    </div>
                                                </div>
                                            {% else %}

                                                <div class="col-lg-6 col-md-8 col-sm-8 col-12">
                                                    {{ item_form.document }}
                                                    
                                                    <img src="{{item_form.document.url}}" alt="">
                                                   
                                                </div>
                                            {% endif %}
                                        </div>
                        {% endfor %}


                            <div class=" form-group row">
                                <div class="offset-sm-2 offset-lg-4 col-lg-6 col-md-8 col-sm-8 col-12">
                                    <button type="submit" class='btn btn-submit btn-block btn-primary' name="submit">Save
                                        
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    {% block extra_script %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">


        $(function () {
       
            $('#item-form  #document').formset({
                addText: '<em class="fa fa-plus text-success" title="Add"></em>',
                deleteText: '<i class="fa fa-remove text-danger" title="Remove"></i>',
                
                
            });


        });


    </script>
    {% endblock %}
{% endblock %}
