{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block extra_stylesheet %}
    <style>
        body {
            background-color: #fff;
        }

        .gallery-wrap .img-big-wrap img {
            height: 450px;
            width: 100%;
            display: inline-block;
            cursor: zoom-in;
        }

        .gallery-wrap .img-small-wrap .item-gallery {
            width: 60px;
            height: 60px;
            border: 1px solid #ddd;
            margin: 7px 2px;
            display: inline-block;
            overflow: hidden;
        }

        .gallery-wrap .img-small-wrap {
            text-align: center;
        }

        .gallery-wrap .img-small-wrap img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            border-radius: 4px;
            cursor: zoom-in;
        }

        .z-depth-1-half {
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
        }

        .rating {
            color: #ffa000;
            list-style-type: none;
            height: 4px;
        }

        .rating li {
            display: inline-block;

        }

        .blue-text {
            color: #2196f3 !important;
        }

        ul {
            margin-bottom: 1rem;
        }

        .text-md-left {
            text-align: left !important;
        }

        .avatar {
            max-width: 100px;
        }

        .btn-floating {
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
            width: 47px;
            height: 47px;
            position: relative;
            z-index: 1;
            display: inline-block;
            overflow: hidden;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            margin: 10px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            padding: 0;
        }

        a.waves-effect, a.waves-light {
            display: inline-block;
        }


.star-rating, .back-stars, .front-stars {
  display: flex;
}

.star-rating {
  
  font-size: 2em;
 

}

.back-stars {
  color: #bb5252;
  position: relative;
  text-shadow: 4px 4px 5px #843a3a;
}

.front-stars {
  color: #ffbc0b;
  overflow: hidden;
  position: absolute;
  text-shadow: 2px 2px 5px #d29b09;
  top: 0;
}

    </style>

{% endblock %}
{% block content %}
    <div class="container ">
    <!-- Section: product details -->
    <section id="productDetails" class="pb-5">

        <!--News card-->
        <div class="card mt-5 hoverable">
            <div class="row mt-5">
                <div class="col-lg-6">
                    <div class="row mx-2">

                        <!--Carousel Wrapper-->

                        <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails "
                             data-ride="carousel">

                            <!--Slides-->
                            <div class="carousel-inner text-center text-md-left" role="listbox">


                                {% for image in item.item_images.all %}

                                    <div class="carousel-item   {% if forloop.last %} active {% endif %}">
                                        {% if image.document %}
                                            <div><a href="#"><img src="{{ image.document.url }}"
                                                                  class="img-fluid"></a>
                                            </div>
                                        {% endif %}
                                    </div>

                                {% empty %}

                                    <div class="carousel-item  active">
                                        <a href="#"><img src="{% static 'images/default.jpg' %}"
                                                         class="img-fluid">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            <!--/.Slides-->

                            <!--Thumbnails-->
                            <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <!--/.Thumbnails-->

                        </div>
                        <!--/.Carousel Wrapper-->
                    </div>


                </div>

                <div class="col-lg-5 mr-3 text-center text-md-left">
                    <h2 class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">
                        <strong>{{ item.name }} </strong>
                    </h2>
                    <div class="star-rating" title="{{avg_rating|floatformat}}">
                        <div class="back-stars">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            
                            <div class="front-stars" style="width: {{rating_percentage}}%">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>    
                    
               
                    <h3 class="h3-responsive text-center text-md-left mb-5 ml-xl-0 ml-4">
                            <span class="red-text font-weight-bold">
                                <strong>Rs {{ item.stock_record.discounted_price }}</strong>
                            </span>
                        <span class="grey-text">
                                <small>
                                    <s>Rs {{ item.stock_record.price_excl_tax }}</s>
                                </small>
                            </span>
                    </h3>

                    <p class="ml-xl-0 ml-4"><strong>Description:</strong>
                        {{ item.description }}
                    </p>
                    <p class="ml-xl-0 ml-4"><strong>Specification:</strong>
                        {{ item.specification }}
                    </p>


                    <!-- Add to Cart -->
                    <section class="color">


                        <div class="row mt-3 mb-4">
                            <div class="col-md-12 ">
                                {% if data == 0 %}
                                    {% if item_count > 0 %}
                                        <form action="" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {% render_field quantity_form.quantity class='form-control' %}
                                            <button class="btn btn-primary btn-rounded pull-right mt-2"
                                                    type="submit">
                                                <i class="fa fa-cart-plus " aria-hidden="true"></i> Add
                                                to cart
                                            </button>
                                        </form>

                                    {% else %}
                                        <p class="text-danger">Item Out Of Stock</p>

                                    {% endif %}

                                {% else %}
                                    <a href="{% url 'carts:cart' %}" class="btn btn-primary">Go To Cart</a>
                                {% endif %}


                            </div>
                        </div>
                    </section>
                    <!-- /.Add to Cart -->
                </div>
            </div>
        </div>
        <!--News card-->

    </section>
    <!-- Section: product details -->

    <!-- Product Reviews -->
    <div class="product-ratings">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="5-star">
                            <ul class="rating">
                                <li>
                                    <i class="fa fa-star checked"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star checked"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star checked"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star checked"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star checked"></i>
                                </li>
                                <li></li>
                                <li>
                                <input style='color:black;box-shadow: none;' id='ratings_5' type="text" value="{{ ratings5 }}" class="btn btn-default  text-left" disabled></li>
                            </ul>
                            <ul class="rating">
                                <li>
                                    <i class="fa fa-star checked"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star checked"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star checked"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star checked"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star blue-text"></i>
                                </li>
                                <li></li>
                                <li><input style='color:black;box-shadow: none;' id='ratings_4' type="text" value="{{ ratings4 }}" class="btn btn-default  text-left" disabled></li>
                            </ul>
                            <ul class="rating">
                                <li>
                                    <i class="fa fa-star checked"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star checked"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star checked"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star blue-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star blue-text"></i>
                                </li>
                                <li></li>
                                <li>
                                <input style='color:black;box-shadow: none;' id='ratings_3' type="text" value="{{ ratings3 }}" class="btn btn-default  text-left" disabled></li>
                            </ul>
                            <ul class="rating">
                                <li>
                                    <i class="fa fa-star checked"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star checked"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star blue-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star blue-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star blue-text"></i>
                                </li>
                                <li></li>
                                <li>
                                <input style='color:black;box-shadow: none;' id='ratings_2' type="text" value="{{ ratings2 }}" class="btn btn-default  text-left" disabled></li>
                            </ul>
                            <ul class="rating">
                                <li>
                                    <i class="fa fa-star checked"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star blue-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star blue-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star blue-text"></i>
                                </li>
                                <li>
                                    <i class="fa fa-star blue-text"></i>
                                </li>
                                <li></li>
                                <li>
                                    <input style='color:black;box-shadow: none;' id='ratings_1' type="text" value="{{ ratings1 }}" class="btn btn-default text-left" disabled></li>
                            </ul>
                        </div>


                    </div>
                    <div class="col-6">
                        {% if request.user.is_authenticated %}
                            {% if not is_rated %}
                                <div class="pull-right" id="id_rating">
                                    Rate this product
                                    <form action="" id='id_rating_form' method="post">
                                        {% csrf_token %}
                                        {% render_field rating_form.rating hidden='' %}
                                        <ul class="rating" style=" list-style-type: none;
                                                margin: 0;
                                                padding: 0;
                                                overflow: hidden; height:50px;">
                                            <li class="float-left">

                                                <button id="1" onclick="myFunction(this.id);" type="button">
                                                    <i class="fa fa-star blue-text"></i>
                                                </button>

                                            </li>
                                            <li class="float-left">

                                                <button id="2" class="{{ item.slug }}"
                                                        onclick="myFunction(this.id);" type="button">
                                                    <i class="fa fa-star blue-text"></i>
                                                </button>
                                            </li>
                                            <li class="float-left">

                                                <button id="3" onclick="myFunction(this.id);" type="button">
                                                    <i class="fa fa-star blue-text"></i>
                                                </button>
                                            </li>
                                            <li class="float-left">

                                                <button id="4" onclick="myFunction(this.id);" type="button">
                                                    <i class="fa fa-star blue-text"></i>
                                                </button>
                                            </li>
                                            <li class="float-left">

                                                <button id="5" onclick="myFunction(this.id);" type="button">
                                                    <i class="fa fa-star blue-text"></i>
                                                </button>
                                            </li>
                                        </ul>
                                    </form>

                                </div>
                            {% else %}
                                <div class="pull-right">
                                    <p id="id_rating_plot">
                                        Thank you for rating {{ rate.rating }} stars
                                    </p>


                                </div>

                            {% endif %}
                        {% else %}
                            <div class="pull-right">
                                <p id="id_rating_plot">
                                    Need to be logged in for rating a product
                                </p>


                            </div>
                        {% endif %}


                    </div>
                </div>

            </div>
        </div>

        {% if request.user.is_authenticated %}

        <form  method="POST" id="post-form">
            {% csrf_token %}
            {% render_field form.comment class='form-control' rows=3 placeholder='comment' %}
           <input type="submit" value='submit'>
            </form>
           
        {% endif %}

        <section id="reviews" class="mt-5">

            <h4 class="h4-responsive dark-grey-text font-weight-bold  text-center">
                <strong>Product Reviews</strong>
            </h4>


            <!--Main wrapper-->
            <div class="comments-list text-center mt-3 text-md-left">
                    <div class="row mb-5">
                            <!--Image column-->
                            <div class="col-sm-2 col-12 mb-2">
                                <ul>
                                    <li id='id_image' style="display: inline-block"></li>
                                    <li style="display: inline-block">
                                    </li>
                                </ul>
    
                            </div>
                        
                            <div class="col-sm-10 col-12 pull-left">
                                <a>
                                    <h5 class="user-name font-weight-bold" id='id_full_name'></h5>
                                </a>
                                <!-- Rating -->
    
                                <div class="card-data">
                                    <ul class="list-unstyled mb-1">
                                        <li class="comment-date font-small grey-text" id='id_date'>
                                          
                                        </li>
                                    </ul>
                                </div>
                                <p class="dark-grey-text article" id='id_comment_text'></p>
                            </div>
                            <!--/.Content column-->
                        </div>

                <!--First row-->
                {% for comment in comments %}
                    <div class="row mb-5">
                        <!--Image column-->

                        <div class="col-sm-2 col-12 mb-2">
                            <ul>
                                <li style="display: inline-block" id='id_image'> {% if comment.user.userprofile.pic %}
                                    <img src="{{ comment.user.userprofile.pic.url }}" alt="sample image"
                                         class="avatar rounded-circle z-depth-1-half">
                                {% else %}
                                    <img src="{% static 'images/default.jpg' %}" alt="sample image"
                                         class="avatar rounded-circle z-depth-1-half">
                                {% endif %}</li>
                                <li style="display: inline-block">
                                </li>

                            </ul>

                        </div>
                        <!--/.Image column-->

                        <!--Content column-->
                        <div class="col-sm-10 col-12 pull-left">
                            <a>
                                <h5 class="user-name font-weight-bold"  id='id_full_name'>

                                    {% if not comment.user.full_name == None %}
                                        {{ comment.user.full_name }}  {% else %} Authorised User {% endif %}</h5>
                            </a>
                            <!-- Rating -->

                            <div class="card-data">
                                <ul class="list-unstyled mb-1">
                                    <li class="comment-date font-small grey-text" id="id_date">
                                        <i class="fa fa-clock-o"></i> {{ comment.created_at }}
                                    </li>
                                </ul>
                            </div>
                            <p class="dark-grey-text article" id='id_comment_text'>{{ comment.comment }}</p>
                        </div>
                        <!--/.Content column-->
                    </div>
                    <!--/.First row-->


                    <hr>
                {% empty %}
                    <p class="text-center">No Reviews Yet</p>
                {% endfor %}


            </div>
            <!--/.Main wrapper-->
        </section>
        <!-- /.Product Reviews -->


    </div>


    <!--container.//-->

    {% block extra_script %}
        <script>


            $(function () {
                let quantity ={{ item_count }} ;

                for (i = 1; i < quantity + 1; i++) {
                    $('#id_quantity').append('<option value="' + i + '">' + i + '</option>');
                }
            
            });
            $('#post-form').on('submit', function(e){
                e.preventDefault();
                console.log("form submitted!")  // sanity check
                create_comment();
                });

            function create_comment(){
                let slug = "{{item.slug}}";
                let comment = $('#id_comment').val()
                iUrl = "/comments/create/" + slug
                $.ajax({
                url : iUrl, // the endpoint
                type : "POST", // http method
                data : { 
                    'slug':slug,
                    'comment':comment,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                 }, // data sent with the post request

                // handle a successful response
                success : function(response_data) {
                 
                    console.log(response_data); // log the returned json to the console
                    $('#id_comment').val("");
                    $("#id_image").html("<img class='avatar rounded-circle z-depth-1-half' src=/media/" +response_data.image + ">")
                    $('#id_full_name').text(response_data.author)
                    $('#id_date').html("<i class='fa fa-clock-o'></i> "+ response_data.created)
                    $('#id_comment_text').text(response_data.comment)
                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
    });

            }
        </script>

        <script>
            let slug = "{{item.slug}}";
            function myFunction(id) {
                $('#id_rating').val(id);

                let iUrl = '/ratings/' + slug;
                $.ajax({
                    url: iUrl,
                    method: 'POST',
                    data: {
                        'rating': id,
                        'slug': slug,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    }
                }).done(function(data) {
                        $('#id_rating').html('<p> Thank you for rating '+ data + ' stars </p>')
                        if (data == id){
                            let countStar = $('#ratings_'+data).val()
                            let coutInt = parseInt(countStar)
                            coutInt += 1;
                            $('#ratings_'+data).val(coutInt)
                        }
                        
                    });
            }
   

         
        </script>
    {% endblock %}

{% endblock content %}
