{% extends 'base.html' %}
{% load widget_tweaks %}
{% block  content %}

    <div class="container-fluid">
        <div class="row">

            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong></strong> {{ message }}

            </div>
            {% endfor %}

                {% if not billing_profile %}
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5>Continue as Guest : </h5>
                                        {% url "guest_register" as guest_register_url %}
                                         {% include 'carts/snippets/guestform.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
                                    
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                    
                                    <div class="card">
                                            <div class="card-body">
                                                <h5>Login : </h5>
                                                
                                                {% include 'carts/snippets/loginform.html' with form=form next_url=request.build_absolute_uri %}
                                            </div>
                                        </div>
                            </div>
                {% else %}


                                <div class="col-lg-8 offset-lg-2">
                    
                                        <div class="card">
                                                <div class="card-body">
                                                    {{cart.id}}
                                                        <h1>Finalize Checkout</h1>
                                                        <p>Cart Items:
                                                            {% for product in cart.cart_items.all %}{{ product }}{% if not forloop.last %},
                                                            {% endif %}{% endfor %}</p>
                                                        <p>Shipping Address: {{ shipping_address.get_address }}</p>
                                                        <p>Billing Address: {{ billing_address.get_address }}</p>
                                                        <p>Cart Total: {{ cart.total }}</p>
                                                        <p>Shipping Total: Free</p>
                                                        <p>Order Total: {{ cart.total }}</p>
                                                        <form class="form" method="post">
                                                                {% csrf_token %}
                                                                <button type="submit" class="btn btn-success btn-lg">Checkout</button>
                                                            </form>
                
                                                </div>
                                            </div>
                                   
                         

                {% endif %}
 

    </div>
</div>



{% endblock %}