{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Items | {{ block.super }}
{% endblock %}
{% block breadcrumbLink %}
    {% if request.user.is_authenticated %}
        <li class="breadcrumb-item active">Items - {{category.name}}</li> {% endif %}
{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="card">
            <div class="body table-responsive">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12  col-xs-12 text-left ">
                        <h5 class="">Items | <small>{{category.name}}</small></h5>
                    </div>

                </div>

                <table class="table mt-2">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">S.N.</th>
                        <th scope="col">Billing Profile</th>
                        <th>item</th>
                        <th>Qty</th>
                        <th>Order Id</th>


                        <th style="max-width:15%"></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for object in refunds %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>{{ object.billing_profile }}
                            </td>
                            <td>{{object.order_item}}</td>

                            <td>{{object.quantity}}</td>
                            <td>{{ object.order_item.order }}</td>

                         <td class='text-right'>


                            </td>

                        </tr>
                    {% empty %}
                        <tr>
                            {% if request.GET.q %}
                                <td class="text-danger text-center" colspan="8"><h5>No Record Found ।</h5></td>
                            {% else %}
                                <td class="text-danger text-center" colspan="8"><h5>No any Data on Database Yet</h5></td>
                            {% endif %}
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
                {% include 'snippets/pagination.html'  with datas=fiscal_years %}
            </div>
        </div>
    </div>

{% endblock %}
