{% extends 'base.html' %}
{% load humanize %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block title %}
    Orders | {{ block.super }}
{% endblock %}
{% block breadcrumbLink %}
    {% if request.user.is_authenticated %}
        <li class="breadcrumb-item active">Orders</li> {% endif %}
{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="card">
            <div class="body table-responsive">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12  col-xs-12 text-left ">
                        <h5 class="">Ordered Items
                            <small> |order id : {{ order.order_id }}</small>
                        </h5>

                    </div>
                </div>

                <table class="table mt-2">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">S.N.</th>
                        <th scope="col">Item Name</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Total</th>
                        <th>Status</th>

                        <th style="max-width:15%"></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for object in items %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>{{ object.item.name }}
                            </td>
                            <td>{{ object.item.stock_record.discounted_price }}</td>
                            <td>{{ object.quantity }}</td>

                            <td>{{ object.total }}</td>
                            <td>

                                {{ object.status }}
                            </td>
                            <td>
                                {% if not object.status == 'delivered' %}
                                    <a href="{% url 'orders:order_cancel_item' object.pk %}" class="btn btn-primary">Cancel
                                        Item</a>
                                {% else %}
                                    <a href="{% url 'orders:refund_request_create' object.pk %}"
                                       class="btn btn-primary">Refund Request</a>
                                {% endif %}
                            </td>


                        </tr>
                    {% empty %}
                        <tr>
                            {% if request.GET.q %}
                                <td class="text-danger text-center" colspan="8"><h5>डाटाबेसमा रेकर्ड भेटिएन ।</h5></td>
                            {% else %}
                                <td class="text-danger text-center" colspan="8"><h5>डाटाबेसमा कुनै डाटा छैन | </h5></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan='5' class='text-right'>
                            <h4>Total : {{ order_total|floatformat:"2" | intcomma }}</h4>
                        </td>
                    </tr>


                    </tbody>
                </table>
                {% include 'snippets/pagination.html'  with datas=fiscal_years %}
            </div>
        </div>
    </div>
    {% block extra_script %}
        <script>
            $(function () {
                $('#id_status').on('change', function () {

                    $(this.form).submit()
                })
            })
        </script>
    {% endblock %}
{% endblock %}
