{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Orders | {{ block.super }}
{% endblock %}
{% block breadcrumbLink %}
    {% if request.user.is_authenticated %}
        <li class="breadcrumb-item active">Orders</li> {% endif %}
{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="card">
            <div class="body table-responsive">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12  col-xs-12 text-left ">
                        <h5 class="">Orders</h5>
                    </div>
                   
                </div>

                <table class="table mt-2">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">S.N.</th>
                        <th scope="col">Order ID</th>
                        <th>E-mail</th>

                        <th>status</th>
                      
                        <th style="max-width:15%"></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for object in orders %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>{{ object.order_id }}
                            </td>
                            <td>{{object.billing_profile}}</td>

                            <td>{{object.status}}</td>
                            
                         <td class='text-right'>
                             <a href="{% url 'orders:order_items' object.pk %}" class='btn btn-primary'>Items</a>
                            </td> 

                        </tr>
                    {% empty %}
                        <tr>
                            {% if request.GET.q %}
                                <td class="text-danger text-center" colspan="8"><h5>डाटाबेसमा रेकर्ड भेटिएन ।</h5></td>
                            {% else %}
                                <td class="text-danger text-center" colspan="8"><h5>Nothing on database | </h5></td>
                            {% endif %}
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
                {% include 'snippets/pagination.html'  with datas=fiscal_years %}
            </div>
        </div>
    </div>

{% endblock %}
