{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    वित्तीय वर्ष | {{ block.super }}
{% endblock %}
{% block breadcrumbLink %}
    {% if request.user.is_authenticated %}
        <li class="breadcrumb-item active">वित्तीय वर्ष</li> {% endif %}
{% endblock %}

{% block content %}

    <div class="container-fluid">
        
        {% if active_fiscal_year %}
            <div class="card">
                <div class="body table-responsive">
                    
                    <div class="row">
                            <div class="col-lg-4 text-left ">
                                    <h5 class="pt-2">सक्रिय आर्थिक वर्ष</h5>
                            </div>
                            
                        </div>

                    <table class="table ">
                        <thead class="bg-green ">
                        <tr>
                            <th scope="col">प्र.नं.</th>
                            <th scope="col">नाम</th>
                           
                            <th style="max-width: 15%;"></th>

                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>1</td>
                            <td>{{ active_fiscal_year.name }}</td>
                           
                            <td style="max-width: 15%;" class="text-right">
                                {% if fiscal_years %}<a href="{% url 'fiscal_years:change' %}"
                                                                              class="btn btn-lg btn-primary ">परिवर्तन
                                गर्नुहोस्</a>
                                    {% endif %}</td>
                        </tr>


                        </tbody>
                    </table>

                </div>
            </div>

        {% endif %}

        <div class="card">
            <div class="body table-responsive">

                <div class="row">
                    <div class="col-lg-4 text-left ">
                        <h5 class="pt-3">निष्क्रिय आर्थिक वर्षहरू</h5>
                    </div>
                    <div class="offset-5 col-lg-3 text-right float-right ">

                        {% if fiscal_years.count > 0 and  not active_fiscal_year %}
                            <a href="{% url 'fiscal_years:change' %}"
                               class="btn  btn-primary btn-lg">सक्रिय गर्नुहोस्</a>
                        {% endif %}
                        <a href="{% url 'fiscal_years:create' %}" class="btn btn-lg btn-primary ">नयाँ</a>

                    </div>
                </div>

                <table class="table mt-2">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">प्र.नं.</th>
                        <th scope="col">नाम</th>
                      
                        <th style="max-width:15%"></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for fiscal in fiscal_years %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ fiscal.name }}
                            </td>
                            
                            <td class='text-right'>
                                <a href="{% url 'fiscal_years:edit' fiscal.pk %}"
                                   class='btn btn-warning btn-sm'>Edit</a>

                            </td>

                        </tr>
                    {% empty %}
                        <tr>
                            {% if request.GET.q %}
                                <td class="text-danger text-center" colspan="8"><h5>डाटाबेसमा रेकर्ड भेटिएन ।</h5></td>
                            {% else %}
                                <td class="text-danger text-center" colspan="8"><h5>डाटाबेसमा कुनै डाटा छैन | </h5></td>
                            {% endif %}
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
                {% include 'snippets/pagination.html'  with datas=fiscal_years %}
            </div>
        </div>
    </div>

{% endblock %}
