{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Fiscals Year | {{ block.super }}
{% endblock %}
{% block breadcrumbLink %}
    {% if request.user.is_authenticated %}
        <li class="breadcrumb-item active">Fiscals Year</li> {% endif %}
{% endblock %}

{% block content %}

    <div class="container-fluid">
        {% if active_fiscal_year %}
            <div class="card">
                <div class="body table-responsive">
                    <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12  col-xs-12 text-left  ">
                                    <h5 class="">Active Fiscal Year</h5>
                            </div>
                            
                        </div>
<div class="table-responsive">


                    <table class="table ">
                        <thead class="bg-green ">
                        <tr>
                            <th scope="col">S.N.</th>
                            <th scope="col">Name</th>
                           
                            <th style="max-width: 15%;"></th>

                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>1</td>
                            <td>{{ active_fiscal_year.name }}</td>
                           
                            <td style="max-width: 15%;" class="text-right">
                                {% if fiscal_years %}<a href="{% url 'fiscal_years:change' %}"
                                                                              class="btn btn-lg btn-primary ">Change</a>
                                    {% endif %}</td>
                        </tr>


                        </tbody>
                    </table>
                </div>

                </div>
            </div>

        {% endif %}

        <div class="card">
            <div class="body table-responsive">

                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12  col-xs-12 text-left ">
                        <h5 class="">Inactive Fiscal Years</h5>
                    </div>
                    <div class=" offset-lg-5  col-lg-3 col-md-6 col-sm-12 col-xs-12  text-right float-right ">

                        {% if fiscal_years.count > 0 and  not active_fiscal_year %}
                            <a href="{% url 'fiscal_years:change' %}"
                               class="btn  btn-primary btn-lg">Activate</a>
                        {% endif %}
                        <a href="{% url 'fiscal_years:create' %}" class="btn btn-primary btn-circle-lg ">  <i class="fa fa-plus"></i></a>

                    </div>
                </div>

                <table class="table mt-2">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">S.N.</th>
                        <th scope="col">Name</th>
                      
                        <th style="max-width:15%"></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for fiscal in objects %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>{{ fiscal.name }}
                            </td>
                            
                            <td class='text-right'>
                                <a href="{% url 'fiscal_years:edit' fiscal.pk %}"
                                   class='btn btn-warning btn-sm'>Edit</a>

                            </td>

                        </tr>
                    {% empty %}
                        <tr>
                            {% if request.GET.q %}
                                <td class="text-danger text-center" colspan="8"><h5>Not Found ।</h5></td>
                            {% else %}
                                <td class="text-danger text-center" colspan="8"><h5>No any Inactive Fiscal Years </h5></td>
                            {% endif %}
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
                {% include 'snippets/pagination.html'  with datas=fiscal_years %}
            </div>
        </div>
    </div>

{% endblock %}
