<nav class="navbar navbar-expand-lg navbar-dark bg-red ">
    <div class="visible-xs">
        <div class="button close_button" id="id_close_button">
            <div class="bar top"></div>
            <div class="bar middle"></div>
            <div class="bar bottom"></div>
        </div>
    </div>

    <div class="hidden-xs mt-1">
        <div class="button  open_button {% if request.session.sidebar_id_status %} active {% endif %}"
             id="id_open_button">
            <div class="bar top"></div>
            <div class="bar middle"></div>
            <div class="bar bottom"></div>
        </div>
    </div>

    <a class="navbar-brand ml-3 font-22" href="/">Wooden</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a style="color:white;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-circle"></i> {% if request.user.is_superuser %}
                    Admin {% elif request.user.role == 'provider' %} Provider({{ request.user.full_name }}){% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="left:-45px;border-radius:0;">
                    <a class="dropdown-item" href="{% url 'users:logout_user' %}">Log Out</a>
                </div>
            </li>

        </ul>
    </div>
</nav>

<section class="">
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info bg-red">
            <div class="image">
                {% if user.image %}
                    <img src="" width="48" height="48" alt="User image"/>
                {% else %}
                    <i style="color: white; font-size:60px;" class="fa fa-user"></i>
                {% endif %}
            </div>
            <div class="info-container">
                <div class="info-contact">
                    <div class="name"><i
                            class="fa fa-user-circle"></i> {{ request.user.full_name }}
                    </div>
                    <div class="email"><i class="fa fa-envelope"></i> {{ request.user.email }}
                    </div>
                </div>

            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class='list'>
                <li id="id_home">
                    <a href="/" class="">
                        <i class="fa fa-dashboard mt-2 ml-3"></i>
                        <span>Dashboard</span>

                    </a>
                    <hr style="margin:0;padding:0;">

                </li>
                <li id="items">
                    <a href="{% url 'items:category_select' %}" class="">
                        {% comment %} <i class="fa fa-dashboard mt-2"></i> {% endcomment %}
                        <span>Items</span>

                    </a>

                </li>

                <li id="orders">
                    <a href="{% url 'orders:list' %}" class="">

                        <span>Orders</span>

                    </a>

                </li>
                <li id="refunds">
                    <a href="{% url 'refunds:refund_request_list' %}" class="">
                        {% comment %} <i class="fa fa-dashboard mt-2"></i> {% endcomment %}
                        <span>Refund Requests</span>

                    </a>

                </li>


        <li id="id_parent">
                        <a href="javascript:void(0);" class="menu-toggle">
                            <span>Charts</span>
                        </a>
                        <ul class="ml-menu">
                            <li id="fiscal-years">
                                <a id="fiscal-years" href="{% url 'data_analysis:orders' %}" >
                                    <span>Orders</span>
                                </a>

                            </li>
                        </ul>
                    </li>
            </ul>
        </div>


        <!-- <div class="legal">
            <div class="copyright" id="id_copyright">
                &copy; <b id="id_year">{{ year }} </b> &nbsp; <a target="_blank" href="https://pdmt.com.np/">PDMT</a>
            </div>
        </div> -->
    </aside>

</section>
