{% load widget_tweaks %}
                                        <form method='POST' action='{% if action_url %}{{ action_url }}{% else %}{% url "users:login" %}{% endif %}'>
                                                {% csrf_token %}
                                                {% if next_url %}
                                                    <input type='hidden' name='next' value='{{ next_url }}'/>
                                                {% endif %}
                                                    <div class=" form-group row">
                                                        <span class="col-lg-4 col-md-2 col-sm-2 col-1"><span
                                                                class=" float-lg-right float-md-right float-sm-right float-right"> </span></span>
                        
                                                        {% if guest_form.email.errors %}
                                                            <div class="col-lg-4 col-md-2 col-sm-2 col-4">
                                                                {{ guest_form.email | add_class:"is-invalid" }}
                                                                <div class="invalid-feedback">
                                                                    {{ guest_form.email.errors }}
                                                                </div>
                                                            </div>
                                                        {% else %}
                        
                                                            <div class="col-lg-10 offset-lg-1 col-md-8 col-sm-8 col-12">
                                                                    {% render_field guest_form.email class='form-control'  placeholder='' required='required' %}
                                                                <label for="" class="">{{guest_form.email.label}} <span
                                                                    class="text-danger">*</span></label>
                                                            </div>
                                                        {% endif %}
                                                    </div>

                                    <div class=" form-group row">
                                        <div class=" offset-lg-1 col-lg-8 col-md-8 col-sm-8 col-12">
                                            <button type="submit" class='btn btn-submit btn-lg btn-primary' name="submit">Continue
                                                
                                            </button>
                                        </div>
                                    </div>
                                            </form>