{% extends 'base.html' %}
{% load widget_tweaks %}
{% block  content %}

<div class="container-fluid">
    <div class="row">

{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <strong></strong> {{ message }}

</div>
{% endfor %}

    
                            <div class="col-lg-6 offset-lg-3">
    
                                    <div class="card">
                                            <div class="card-body">
                                                <h5>Shipping Address : </h5>
                                                {% url 'checkout_address_create' as action_url %}
                                                <form id='id_shipping_form' method='POST' action='{% if action_url %}{{ action_url }}{% else %}{% url "users:login_user" %}{% endif %}'> 
                                                    {% csrf_token %}
                                            
                                                    <input type='hidden' name='next' value='{{ request.build_absolute_uri  }}'/>
                                                    <input type='hidden' name='address_type' value='shipping'/>
                                                    <div class=" form-group row">
                                                            <span class="col-lg-4 col-md-2 col-sm-2 col-1"><span
                                                                    class=" float-lg-right float-md-right float-sm-right float-right"> </span></span>
                            
                                                            {% if address_form.address_line_1.errors %}
                                                                <div class="col-lg-4 col-md-2 col-sm-2 col-4">
                                                                    {{ address_form.address_line_1 | add_class:"is-invalid" }}
                                                                    <div class="invalid-feedback">
                                                                        {{ address_form.address_line_1.errors }}
                                                                    </div>
                                                                </div>
                                                            {% else %}
                            
                                                                <div class="col-lg-10 offset-lg-1 col-md-8 col-sm-8 col-12">
                                                                        {% render_field address_form.address_line_1 class='form-control'  placeholder='' required='required' %}
                                                                    <label for="" class="">{{address_form.address_line_1.label}} <span
                                                                        class="text-danger">*</span></label>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                    
                                                        <div class=" form-group row">
                                                                <span class="col-lg-4 col-md-2 col-sm-2 col-1"><span
                                                                        class=" float-lg-right float-md-right float-sm-right float-right"> </span></span>
                                
                                                                {% if address_form.address_line_2.errors %}
                                                                    <div class="col-lg-4 col-md-2 col-sm-2 col-4">
                                                                        {{ address_form.address_line_2 | add_class:"is-invalid" }}
                                                                        <div class="invalid-feedback">
                                                                            {{ address_form.address_line_2.errors }}
                                                                        </div>
                                                                    </div>
                                                                {% else %}
                                
                                                                    <div class="col-lg-10 offset-lg-1 col-md-8 col-sm-8 col-12">
                                                                            {% render_field address_form.address_line_2 class='form-control'  placeholder='' required='required' %}
                                                                        <label for="" class="">{{address_form.address_line_2.label}} </label>
                                                                    </div>
                                                                {% endif %}
                                                        </div>

                                                        <div class=" form-group row">
                                                                <span class="col-lg-4 col-md-2 col-sm-2 col-1"><span
                                                                        class=" float-lg-right float-md-right float-sm-right float-right"> </span></span>
                                
                                                                {% if address_form.city.errors %}
                                                                    <div class="col-lg-4 col-md-2 col-sm-2 col-4">
                                                                        {{ address_form.city | add_class:"is-invalid" }}
                                                                        <div class="invalid-feedback">
                                                                            {{ address_form.city.errors }}
                                                                        </div>
                                                                    </div>
                                                                {% else %}
                                
                                                                    <div class="col-lg-10 offset-lg-1 col-md-8 col-sm-8 col-12">
                                                                            {% render_field address_form.city class='form-control'  placeholder='' required='required' %}
                                                                        <label for="" class="">{{address_form.city.label}} </label>
                                                                    </div>
                                                                {% endif %}
                                                        </div>

                                                        <div class=" form-group row">
                                                                <span class="col-lg-4 col-md-2 col-sm-2 col-1"><span
                                                                        class=" float-lg-right float-md-right float-sm-right float-right"> </span></span>
                                
                                                                {% if address_form.country.errors %}
                                                                    <div class="col-lg-4 col-md-2 col-sm-2 col-4">
                                                                        {{ address_form.country | add_class:"is-invalid" }}
                                                                        <div class="invalid-feedback">
                                                                            {{ address_form.country.errors }}
                                                                        </div>
                                                                    </div>
                                                                {% else %}
                                
                                                                    <div class="col-lg-10 offset-lg-1 col-md-8 col-sm-8 col-12">
                                                                            {% render_field address_form.country class='form-control'  placeholder='Country' required='required' %}
                                                                    
                                                                    </div>
                                                                {% endif %}
                                                        </div>
                                                        <div class=" form-group row">
                                                                <span class="col-lg-4 col-md-2 col-sm-2 col-1"><span
                                                                        class=" float-lg-right float-md-right float-sm-right float-right"> </span></span>
                                
                                                                {% if address_form.postal_code.errors %}
                                                                    <div class="col-lg-4 col-md-2 col-sm-2 col-4">
                                                                        {{ address_form.postal_code | add_class:"is-invalid" }}
                                                                        <div class="invalid-feedback">
                                                                            {{ address_form.postal_code.errors }}
                                                                        </div>
                                                                    </div>
                                                                {% else %}
                                
                                                                    <div class="col-lg-10 offset-lg-1 col-md-8 col-sm-8 col-12">
                                                                            {% render_field address_form.postal_code class='form-control'  placeholder='' required='required' %}
                                                                        <label for="" class="">{{address_form.postal_code.label}} </label>
                                                                    </div>
                                                                {% endif %}
                                                        </div>
                      
                                                            <div class=" form-group row">
                                                                    <div class=" offset-lg-1 col-lg-10 col-md-8 col-sm-8 col-12">
                                                                        <button type="submit" class='btn btn-block btn-lg btn-primary' name="submit">Save
                                                                            <button id="id_load_profile" class="btn btn-block btn-lg btn-secondary">Load From Profile</button>
                                                                        </button>
                                                                    </div>
                                                           
                                                         </div>
                                                 </form>
                                            </div>
                                        </div>
                            </div>
                           

                            {% comment %} ending shipping address {% endcomment %}
                            

                         

                            <div class="col-lg-6 offset-lg-3">
                
                                    <div class="card">
                                            <div class="card-body">
                                                <h5>Billing Address : </h5>
                                
                                                {% url 'checkout_address_create' as action_url %}
                                                <form id='id_billing_form' method='POST' action='{% if action_url %}{{ action_url }}{% else %}{% url "users:login_user" %}{% endif %}'> 
                                                    {% csrf_token %}
                                            
                                                    <input type='hidden' name='next' value='{{ request.build_absolute_uri  }}'/>
                                                    <input type='hidden' name='address_type' value='billing'/>
                                                  
                                                    <div class=" form-group row">
                                                            <span class="col-lg-4 col-md-2 col-sm-2 col-1"><span
                                                                    class=" float-lg-right float-md-right float-sm-right float-right"> </span></span>
                            
                                                            {% if billing_address_form.address_line_1.errors %}
                                                                <div class="col-lg-4 col-md-2 col-sm-2 col-4">
                                                                    {{ billing_address_form.address_line_1 | add_class:"is-invalid" }}
                                                                    <div class="invalid-feedback">
                                                                        {{ billing_address_form.address_line_1.errors }}
                                                                    </div>
                                                                </div>
                                                            {% else %}
                            
                                                                <div class="col-lg-10 offset-lg-1 col-md-8 col-sm-8 col-12">
                                                                        {% render_field billing_address_form.address_line_1 class='form-control'  placeholder='' required='required' %}
                                                                    <label for="" class="">{{billing_address_form.address_line_1.label}} <span
                                                                        class="text-danger">*</span></label>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                    
                                                        <div class=" form-group row">
                                                                <span class="col-lg-4 col-md-2 col-sm-2 col-1"><span
                                                                        class=" float-lg-right float-md-right float-sm-right float-right"> </span></span>
                                
                                                                {% if billing_address_form.address_line_2.errors %}
                                                                    <div class="col-lg-4 col-md-2 col-sm-2 col-4">
                                                                        {{ billing_address_form.address_line_2 | add_class:"is-invalid" }}
                                                                        <div class="invalid-feedback">
                                                                            {{ billing_address_form.address_line_2.errors }}
                                                                        </div>
                                                                    </div>
                                                                {% else %}
                                
                                                                    <div class="col-lg-10 offset-lg-1 col-md-8 col-sm-8 col-12">
                                                                            {% render_field billing_address_form.address_line_2 class='form-control'  placeholder='' required='required' %}
                                                                        <label for="" class="">{{billing_address_form.address_line_2.label}} </label>
                                                                    </div>
                                                                {% endif %}
                                                        </div>

                                                        <div class=" form-group row">
                                                                <span class="col-lg-4 col-md-2 col-sm-2 col-1"><span
                                                                        class=" float-lg-right float-md-right float-sm-right float-right"> </span></span>
                                
                                                                {% if billing_address_form.city.errors %}
                                                                    <div class="col-lg-4 col-md-2 col-sm-2 col-4">
                                                                        {{ billing_address_form.city | add_class:"is-invalid" }}
                                                                        <div class="invalid-feedback">
                                                                            {{ billing_address_form.city.errors }}
                                                                        </div>
                                                                    </div>
                                                                {% else %}
                                
                                                                    <div class="col-lg-10 offset-lg-1 col-md-8 col-sm-8 col-12">
                                                                            {% render_field billing_address_form.city class='form-control'  placeholder='' required='required' %}
                                                                        <label for="" class="">{{billing_address_form.city.label}} </label>
                                                                    </div>
                                                                {% endif %}
                                                        </div>

                                                        <div class=" form-group row">
                                                                <span class="col-lg-4 col-md-2 col-sm-2 col-1"><span
                                                                        class=" float-lg-right float-md-right float-sm-right float-right"> </span></span>
                                
                                                                {% if billing_address_form.country.errors %}
                                                                    <div class="col-lg-4 col-md-2 col-sm-2 col-4">
                                                                        {{ billing_address_form.country | add_class:"is-invalid" }}
                                                                        <div class="invalid-feedback">
                                                                            {{ billing_address_form.country.errors }}
                                                                        </div>
                                                                    </div>
                                                                {% else %}
                                
                                                                    <div class="col-lg-10 offset-lg-1 col-md-8 col-sm-8 col-12">
                                                                            {% render_field billing_address_form.country class='form-control'  placeholder='Country' required='required' %}
                                                                    
                                                                    </div>
                                                                {% endif %}
                                                        </div>

                                                       
                                                        <div class=" form-group row">
                                                                <span class="col-lg-4 col-md-2 col-sm-2 col-1"><span
                                                                        class=" float-lg-right float-md-right float-sm-right float-right"> </span></span>
                                
                                                                {% if billing_address_form.postal_code.errors %}
                                                                    <div class="col-lg-4 col-md-2 col-sm-2 col-4">
                                                                        {{ billing_address_form.postal_code | add_class:"is-invalid" }}
                                                                        <div class="invalid-feedback">
                                                                            {{ billing_address_form.postal_code.errors }}
                                                                        </div>
                                                                    </div>
                                                                {% else %}
                                
                                                                    <div class="col-lg-10 offset-lg-1 col-md-8 col-sm-8 col-12">
                                                                            {% render_field billing_address_form.postal_code class='form-control'  placeholder='' required='required' %}
                                                                        <label for="" class="">{{billing_address_form.postal_code.label}} </label>
                                                                    </div>
                                                                {% endif %}
                                                        </div>
                      
                                                            <div class=" form-group row">
                                                                    <div class=" offset-lg-1 col-lg-6 col-md-8 col-sm-8 col-12">
                                                                        <button type="submit" class='btn btn-block btn-lg btn-primary' name="submit">Save
                                                                    
                                                                        </button>
                                                                    </div>
                                                                    <div class=" ">
                                                                            <button type="" class='btn btn-block btn-lg btn-warning' name="copy" id='id_copy_address' >Same as Shipping Address
                                                                        
                                                                            </button>
                                                                        </div>

                                                         </div>
                                                 </form>
                                            </div>
                                        </div>
                            </div>

                               
                            
                            <div class="col-lg-8 offset-lg-2">
                
                                    <div class="card">
                                            <div class="card-body">
                                                    <h1>Finalize Checkout</h1>
                                                    <p>Cart Items:
                                                        {% for product in order.cart.cart_items.all %}{{ product }}{% if not forloop.last %},
                                                        {% endif %}{% endfor %}</p>
                                                    <p>Shipping Address: {{ order.shipping_address.get_address }}</p>
                                                    <p>Billing Address: {{ order.billing_address.get_address }}</p>
                                                    <p>Cart Total: {{ order.cart.total }}</p>
                                                    <p>Shipping Total: {{ order.shipping_total }}</p>
                                                    <p>Order Total: {{ order.total }}</p>
                                                    <form class="form" method="post">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-success btn-lg">Checkout</button>
                                                        </form>
                    
                                            </div>
                                        </div>
                            </div
                            
                               

                                

    </div>

</div>

{% block extra_script %}
<script>
    $(function(){
            $('#id_load_profile').click(function(e){
                e.preventDefault();
                url = '/users/load_profile/'
                $.ajax({
                        url: url,
                        dataType : 'json',
                        cache: false,
                        success: function(data) {
                            $('#id_address_line_1').val(data.fields.address_line_1)
                            $('#id_address_line_2').val(data.fields.address_line_2)
                            $('#id_city').val(data.fields.city)
                            $('#id_country').val(data.fields.country)
                            $('#id_postal_code').val(data.fields.postal_code)

                        }
                        });
            });


             $('#id_copy_address').click(function(e){
                e.preventDefault();
                url = '/users/load_shipping/'
                $.ajax({
                        url: url,
                        dataType : 'json',
                        cache: false,
                        success: function(data) {
                            $('#id_address_line_1').val(data.fields.address_line_1)
                            $('#id_address_line_2').val(data.fields.address_line_2)
                            $('#id_city').val(data.fields.city)
                            $('#id_country').val(data.fields.country)
                            $('#id_postal_code').val(data.fields.postal_code)

                        }
                        });
            });

    })
</script>

{% endblock %}

{% endblock %}