{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Login User | {{ block.super }}

{% endblock title %}
{% block extra_stylesheets %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}



{% block content %}
    {% block breadcrumbHead %}
        {% endblock %}
    <div class="container">
        <div class="page-wrapper ">
            <main class="main-wrapper my-5">
                <div class="container-fluid my-5">
                    {% if messages %}
                        <div class="row">
                            <div class="offset-md-4 col-md-4">
                                {% for message in messages %}
                                    <div class="alert alert-dismissible alert-danger" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">


                        <div class="offset-md-4 col-md-4 my-3">
                            <div class="card ">

                                <div class="card-body">
                                    <h5 class="card-title">Log in</h5>

                                    <div class="login-form-wrap">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <form method='POST'
                                                      action='{% if action_url %}{{ action_url }}{% endif %}'>
                                                    {% csrf_token %}
                                                    {% if next_url %}
                                                        <input type='hidden' name='next' value='{{ next_url }}'/>
                                                    {% endif %}

                                                    {% csrf_token %}
                                                    {% if next %}
                                                        <input type="hidden" name="next" value="{{ next }}"/>
                                                    {% endif %}
                                                    <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                                                        <div class="input-group input-group-sm">
                                                            <!--<span class="input-group-addon">
                                                              <em class="fa fa-user"></em>
                                                            </span> -->
                                                            {{ form.email }}
                                                            <label>Email address</label>


                                                        </div>
                                                    </div>


                                                    <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                                                        <div class="input-group input-group-sm">
                                                            <!--<span class="input-group-addon">
                                                              <em class="fa fa-lock"></em>
                                                            </span> -->
                                                            {{ form.password }}
                                                            <label>Password</label>

                                                        </div>
                                                        <input class='mt-2' type="checkbox" onclick="myFunction()"> Show
                                                        Password
                                                    </div>

                                                    <div class="form-group mt-2">
                                                        <button class="btn btn-success btn-sm btn-block" name="submit"
                                                                type="submit">
                                                            <em class="fa fa-sign-in"></em> Login
                                                        </button>
                                                        <a class="btn btn-success btn-sm btn-block"
                                                           href="{% url 'users:register' %}">
                                                            <em class="fa fa-save"></em> Register
                                                        </a>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
{% block extra_script %}
    <script>
        function myFunction() {
            var x = document.getElementById("id_password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }

    </script>
{% endblock %}