{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block breadcrumbHead %}

{% endblock %}

{% block content %}
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">

        $('body').on('click', '.go-btn', function (e) {
            e.preventDefault();
            var select = $(this).closest('form').find('select').val();
            if (select !== '') {
                window.location.href = '/' + select + "/";
            }
            else {
                return false
            }

        });

    </script>
{% endblock %}
