{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block extra_stylesheet %}
<style>
    body{
        background: white;
        width: 100%;
  
    }
        .medium-up--one-fifth {
            width: 20%;
        }
        .grid__item {
            float: left;
           
            width: 100%;
        }
        .list--nav {
            list-style: none;
        }
        .list--nav li.site-nav__item{
            border-bottom: 1px solid gainsboro;
            padding:10px;
        }
        .medium-up--hide {
            display: none !important;
        }
       
</style>
{% endblock extra_stylesheet %}
{% block content %}
<div class="container-fluid">
            <div class="row mt-5">
                <div class="col-lg-3">
                        <nav class="grid__item small--text-center medium-up--one-fifth" role="navigation">
                                <hr class="hr--small medium-up--hide">
                                <button id="ToggleMobileMenu" class="mobile-menu-icon medium-up--hide" aria-haspopup="true" aria-owns="SiteNav">
                                  <span class="line"></span>
                                  <span class="line"></span>
                                  <span class="line"></span>
                                  <span class="line"></span>
                                  <span class="icon__fallback-text">Menu</span>
                                </button>
                                <div id="SiteNav" class="site-nav" role="menu">
                                  <ul class="list--nav">
                                        <li class="site-nav__item site-nav--active">
                                          <a href="/" class="site-nav__link" aria-current="page">Home</a>
                                        </li>
                                        <li>
                                            <form action="" method="GET" ></form>
                                            <select name="category" id="id_category">
                                                <option value="">select </option>
                                                {% for category in categories %}
                                                    <option value="{{category.slug}}">{{category.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                        </li>
                                      
                                  </ul>
                                </div>
                              </nav>

                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 col-12">
                        <div class="row">
                                {% for product in products %} 
                                <div class="col-lg-4 col-md-12 mb-4">
                                        <!--Card-->
                                        <a href="{% url 'items:detail' product.slug %}">
                                        <div class="card">
                                            <!--Card image-->
                                            <div class="view ">
                                                    {% for i in product.item_images.all %}
                                                            {% if forloop.last %}
                                                                {% if i.document %}
                                                                <img src="{{ i.document.url }}" height="40px" class="img-fluid " alt='product image here'>
                                                                {% endif %}
                                                            {% endif %}
                                                    {% empty %}
                                                    <img src="{% static 'images/default.jpg' %}" height="40px" class="img-fluid " alt='product image here'>
                                                    
                                        {% endfor %}
                                               
                                        
                                                <a>
                                                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                                </a>
                                            </div>
                                            <!--Card image-->
        
                                            <!--Card content-->
                                            <div class="card-body">
                                                <!--Category & Title-->
        
                                                <h5 class="card-title mb-1">
                                                    <strong>
                                                        <a href="" class="dark-grey-text">{{product.name}}</a>
                                                    </strong>
                                                </h5>
                                                <span class="badge badge-danger mb-2">bestseller</span>
                                                <span class="badge badge-success mb-2 ml-2">SALE</span>
                                                <!-- Rating -->
                                                <ul class="rating" style=" list-style-type: none;
                                                margin: 0;
                                                padding: 0;
                                                overflow: hidden; ">
                                                    <li class="float-left"><i class="fa fa-star blue-text"></i></li>
                                                    <li class="float-left"><i class="fa fa-star blue-text"></i></li>
                                                    <li class="float-left"><i class="fa fa-star blue-text"></i></li>
                                                    <li class="float-left"><i class="fa fa-star blue-text"></i></li>
                                                    <li class="float-left"><i class="fa fa-star blue-text"></i></li>
                                                </ul>
        
                                                <!--Card footer-->
                                                <div class="card-footer pb-0">
                                                        <div class="row mb-0">
                                                            <h5 class="mb-0 pb-0 mt-1 font-weight-bold"><span class="red-text"><strong>Rs {{product.stock_record.discounted_price}}</strong></span>
                                                            {% if product.stock_record.discounted_price != product.stock_record.price_excl_tax %}    <span class="grey-text"><small><s>{{product.stock_record.price_excl_tax}}</s></small></span>
                                                            {% endif %}    
                                                        </h5>
        
                                                            <!-- <span class="float-right">
        
                                                            <a href=" {% url 'items:detail' product.slug %}" class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Cart"><i class="fa fa-shopping-cart ml-3"></i></a>
                                                            </span> -->
                                                        </div>
                                                    </div>
        
        
                                            </div>
                                            <!--Card content-->
        
                                        </div>
                                    </a>
                                        <!--Card-->
                                    </div>
                                    {% endfor %} 
                        </div>
                </div>
            </div>
        </div>
   
{% block extra_script %}
<script>
   $(function(){
       $('#id_category').on('change', function(){
           catgoryId = $(this).val()
           location.href = '/?category='+ catgoryId
       })
   })
</script>
{% endblock %}
{% endblock  %}
