{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block breadcrumbHead %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 col-sm-12">
                <div class="dainik-prashasan mt-5">
                    <span class="text-center">
                      <h1>Dainik Prashsan</h1>
                    </span>
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3 col-md-6 col-sm-12 col-xs-12 ">
                            <form>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1"></label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option value=''>Select one</option>
                                        <option value="residential-settlements">अस्तायी स्थायी बसोबास प्रमाणित</option>
                                        <option value='four-piller'>चार किल्ला सम्बन्दमा</option>
                                        <option value="land-ratings">जग्गा मुल्यांकन</option>
                                        <option value="name-thar-pramanit">नाम थर प्रमाणित</option>
                                        <option value="home-recommendations">घर कयामको सिफारिस</option>
                                        <option value="home-certified-recommendations">घर प्रमाणित सिफारिस</option>
                                        <option value="home-road-certifications">घर बाटो प्रमाणित</option>
                                        <option value="home-completion-certifications">घर सम्पन्नको प्रमाण पत्र</option>
                                        <option value="drinking-water-connections">खानेपानी जडान</option>
                                        <option value="mohi-name-sari">मोही नाम सारी</option>
                                        <option value="bidhut-jadan">बिधुत जडान</option>
                                    </select>
                                </div>

                                <span class="text-center">
                              <a class="btn btn-block btn-primary go-btn blue" href="#"> Go</a>
                            </span>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block extra_script %}
    <script type="text/javascript">

        $('body').on('click', '.go-btn', function (e) {
            e.preventDefault();
            var select = $(this).closest('form').find('select').val();
            if (select !== '') {
                window.location.href = '/' + select + "/";
            }
            else {
                return false
            }

        });

    </script>
{% endblock %}
