{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="AUTHOR" content="Umesh Chaudhary">
    <META HTTP-EQUIV="CONTENT-LANGUAGE"
          CONTENT="en-US">
    <META NAME="COPYRIGHT" CONTENT="&copy; 2018 Umesh Chaudhary">
    <title>{% block title %}Home{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheet %}
        <link rel="stylesheet" href="{% static  'bower_components/bootstrap/dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static  'bower_components/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'nepalidatepicker/nepali.datepicker.v2.2.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/material.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
    {% block extra_stylesheet %}
    {% endblock %}

</head>

<body class='{% if request.session.sidebar_id_status %}  ls-opened {% else %} ls-closed {% endif %} {% if request.user.is_authenticated %}theme-violet{% endif %} '>
<div class="overlay"></div>

<div class="page-wrapper">
    {% if user.is_authenticated %}
        {% if user.role == 'admin'%}
            {% include 'includes/partial_admin_navigation.html' %}
        {% elif user.role == 'provider' %}
            {% include 'includes/partial_provider_navigation.html' %}
        {% elif user.role == 'customer' %}
            {% include 'includes/partial_home_menu.html' %}
        {% else %}
        {% endif %}
    {% else %}
        {% include 'includes/partial_home_menu.html' %}
    {% endif %}

    <section class="{% if request.user.is_authenticated and request.user.is_admin or request.user.is_provider %} content {% endif %}">
           
            {% block breadcrumbHead %}
                <div class="container-fluid ">
                    <nav aria-label="breadcrumb" class="bg-shadow">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item ml-1"><a href="">Home</a></li>
                            {% block breadcrumbLink %}
                            {% endblock %}
                        </ol>
                    </nav>
                </div>
            {% endblock %}
            
                  
                        {% block content %}
            
                        {% endblock %}
                
            
       

    </section>


</div>

{% block javascript %}
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'js/admin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js'%}"></script>
    <script type="text/javascript" src="{% static 'nepalidatepicker/nepali.datepicker.v2.2.min.js' %}"></script>
    <script>
        
        $(document).ready(function () {
                


            $(".alert").delay(5000).fadeOut(500, function () {
                $(this).alert('close');
            });
        });
        {% if request.user.is_authenticated %}
            $('body').on('change', '#choose-category', function () {
                var select = $(this).val();
                if (select) {
                    window.location.href = '/' + select;
                    select.attr('selected', 'selected');

                }

            });
        {% endif %}

        $(document).ready(function () {
            var pathname = window.location.pathname.split("/")[1];
            if (pathname) {

                $("#choose-category option").each(function () {
                    if ($(this).val() == pathname)
                        $(this).attr("selected", "selected");
                });
            }
        });
        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

{% endblock %}

{% block extra_script %}

{% endblock %}

</body>
</html>
