{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block extra_stylesheet %}
    <style>
        body {
            background: white;
            width: 100%;

        }

        input[type=text] {
            width: 100%;
        }

        .view {
            position: relative;
            cursor: default;
        }

        .view, .view .mask, .waves-effect {
            overflow: hidden;
        }

        .hoverable:hover {
            -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
            -webkit-transition: all .55s ease-in-out;
            -o-transition: all .55s ease-in-out;
            transition: all .55s ease-in-out;
        }

        .nav-justified .nav-item {
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -ms-flex-positive: 1;
            flex-grow: 1;
            text-align: center;
        }

        .md-tabs .nav-item.open .nav-link, .md-tabs .nav-link.active {
            background-color: rgba(0, 0, 0, .2);
            color: #fff;
            -webkit-transition: all 1s;
            -o-transition: all 1s;
            transition: all 1s;
            -webkit-border-radius: .25rem;
            border-radius: .25rem;
        }

        .md-tabs .nav-link {
            -webkit-transition: all .4s;
            -o-transition: all .4s;
            transition: all .4s;
            border: 0;
            color: #fff;
        }

        .dark-grey-text, .dark-grey-text:focus, .dark-grey-text:hover {
            color: #4f4f4f !important;
        }

        .font-weight-bold {
            font-weight: 700 !important;
        }

        .grey.lighten-3 {
            background-color: #eee !important;
        }

        .view .mask {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-attachment: fixed;
        }

        .z-depth-1 {
            -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
        }

        .md-tabs {
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
            border: 0;
            padding: .7rem;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: -20px;
            background-color: #2bbbad;
            z-index: 1;
            position: relative;
            -webkit-border-radius: .25rem;
            border-radius: .25rem;
        }

        .rating {
            color: #ffa000;
            list-style-type: none;
            padding: 0;
        }

        .rating li, .side-nav .social li {
            display: inline-block;
        }
    </style>

{% endblock extra_stylesheet %}
{% block content %}
    <div class="container">
        <!-- Grid row -->
        <div class="row pt-4">

            <!-- Content -->
            <div class="col-lg-12">

                <!-- Categories & Adv -->
                <section class="">

                    <!-- Grid row -->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-lg-3 col-md-12 mb-4">

                            <!-- Section: Categories -->
                            <section class="section">

                                <ul class="list-group z-depth-1">
                                    {% for category in categories %}
                                        <li class="list-group-item d-flex
                                    justify-content-between align-items-center">
                                            <a class="dark-grey-text font-small"
                                               href="{% url 'categories:items_category' category.slug %}"
                                               style="color:black;">

                                                {{ category }}</a>
                                            <a href=""></a>
   <span class="badge badge-danger badge-pill">{{ category.items.count }}</span>
                                        </li>
                                    {% endfor %}

                                </ul>


                            </section>
                            <!-- Section: Categories -->


                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-9 col-md-12 pb-lg-5 mb-4">
                            <!--Image -->
                            <div class="row">
                                {% for product in products %}
                                    <div class="col-lg-4 col-md-12 mb-4">
                                        <!--Card-->

                                        <div class="card">
                                            <!--Card image-->
                                            <div class="view ">
                                                {% for i in product.item_images.all %}
                                                    {% if forloop.last %}
                                                        {% if i.document %}
                                                            <a href="{% url 'items:detail' product.slug %}"> <img
                                                                    src="{{ i.document.url }}" height="40px"
                                                                    class="img-fluid " alt='product image here'> </a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% empty %}
                                                    <img src="{% static 'images/default.jpg' %}" height="40px"
                                                         class="img-fluid " alt='product image here'>

                                                {% endfor %}


                                                <a>
                                                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                                </a>
                                            </div>
                                            <!--Card image-->

                                            <!--Card content-->
                                            <div class="card-body">
                                                <!--Category & Title-->

                                                <h5 class="card-title mb-1">
                                                    <strong>
                                                        <a href="{% url 'items:detail' product.slug %}"> {{ product.name }}</a>
                                                    </strong>
                                                </h5>


                                                <!--Card footer-->
                                                <div class="card-footer pb-0">
                                                    <div class="row mb-0">
                                                        <h5 class="mb-0 pb-0 mt-1 font-weight-bold"><span
                                                                class="red-text"><strong>Rs {{ product.stock_record.discounted_price }}</strong></span>
                                                            {% if product.stock_record.discounted_price != product.stock_record.price_excl_tax %}
                                                                <span class="grey-text"><small><s>{{ product.stock_record.price_excl_tax }}</s></small></span>
                                                            {% endif %}
                                                        </h5>
                                                    </div>
                                                </div>


                                            </div>
                                            <!--Card content-->

                                        </div>

                                        <!--Card-->
                                    </div>
                                {% endfor %}
                            </div>

                            <!--Image -->
                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                </section>
                <!-- Categories & Adv -->


            </div>
            <!-- /.Content -->

        </div>
        <!-- /Grid row -->
    </div>


{% endblock %}
